body {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    text-align: center;
}

label, input{
    vertical-align: center;
}

input[type="email"], input[type="tel"], input[type="text"], input[type="password"], select {
    margin: 5px 0 10px 5px;
    padding: 2px 5px;

    min-width:120px;
    max-width: 200px;

    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"]{
    border: 1px solid #cccccc;
    border-radius: 5px;

    margin: 0 0 10px 5px;
}


select,
output,
textarea {
    width: 90%;
    margin: 5px 0 10px 0;
    padding: 2px 5px;

    vertical-align: middle;

    border: 1px solid #cccccc;
    border-radius: 5px;
}

.buttons {
    display: block;
    width: auto;
    height: auto;
    margin: 0 5px;
    padding: 6px 15px;
    text-align: center;
}

