<html xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<h2>Employees</h2>
<form action="#" th:action="@{/employees}" th:object="${employee}" method="POST">
    <table border="1">
        <tr>
            <td><label th:text="Name" /></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label th:text="Surname" /></td>
            <td><input type="text" th:field="*{surname}" /></td>
        </tr>
        <tr>
            <td><label th:text="Role" /></td>
            <td><input type="text" th:field="*{role}" /></td>
        </tr>
        <tr>
            <td><label th:text="Department" /></td>
            <td><input type="text" th:field="*{department}" /></td>
        </tr>
        <tr>
            <td><label th:text="Phonenumber" /></td>
            <td><input type="text" th:field="*{phonenumber}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create" /></td>
        </tr>
    </table>
</form>
</body>
</html>