<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="https://www.thymeleaf.org"
    lang="en">
<head>
    <title>Home</title>
</head>
<body>
<!--    <td th:text="${employee.name}" /><br>-->
<!--    <td th:text="${employee.surname}" /><br>-->
<!--    <td th:text="${employee.role}" /><br>-->
<!--    <td th:text="${employee.department}" /><br>-->
<!--    <td th:text="${employee.phonenumber}" /><br>-->
<!--    <br>-->

<div>
    <sec:authorize access="hasRole(User, Admin)">
        <form th:action="@{/get-employees}" method="get">
            <input type="submit" value="Get employees"/>
        </form>
    </sec:authorize>

    <sec:authorize access="hasRole(Admin)">
        <form th:action="@{/get-employees}" method="get">
            <input type="submit" value="Get employees"/>
        </form>
    </sec:authorize>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

</body>
</html>